@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');

ul, ol, li{list-style:none;}
a {text-decoration: none;}

html {overflow-y: scroll;}

html, body, div, span, p, a, em, img, ol, ul, li, strong, section {
	box-sizing: border-box;
	border: 0;
	font-family: 'NanumSquare', sans-serif;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

section {
	display: block;
}

body {
	line-height: 1.8;
	word-wrap: break-word;
	word-break: keep-all;
	overflow: hidden;
}

div {
	display: block;
}

em {
	font-style: normal;
}
#menu{position: fixed; margin:0; padding:0;height:100%; width:100%; height:85px;background:white; z-index: 100;}

/*sub banner 부분*/

#slogan_main_wrap{
	height: 685px;
	width: 100%;
}

#slogan_main_wrap div{
	display : inline-block;
	padding: 10px;
}

/*초록부분 제목 배경*/
.slogan_inner {
	background-image:  url('sub_vison.png');
	height: 220px;
	text-align: center; 
	width: 100%;
}


/*큰제목 글자*/
.slogan_inner strong{
	font-size: 40px; 
	font-weight: 700;
	color: white;
	font-family: 'NanumSquare', sans-serif;
}

/*아래 사진세개 부분*/
.slogan_list{
	display : inline-block;
	/*padding-right: 10px;*/
	background: white;
	height: 460px; 
	width: 1385px;

}

/*제목들*/
.text_1 strong{
	float: left;
	font-size: 36px;
	font-weight: 700;
	color: black;
	display: block;

}
.text_1 strong:after{
	padding-top: 10px;
	content: '';
	display: block;
	width: 23px;
	border-bottom:  2px solid #83a80b;
}

.text_1{
	text-align: left;
	float: left;
}

/*밑에 긴 글*/
.text_1 p{
	font-size: 20px; 
	color: #545454; 
	float: left; 
}

/*글에 올렸을때*/

.slide_item:hover strong{
	color: #83a80b;
}
.slide_item:hover strong:after{
	width: 30px;
}


.slide_item{
	width: 423px; height:400px;

}
.slide_item .thumb{
	width: 423px; height: 226px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}


.thumb img{ 
	width:100%;
	height:100%;
	object-fit:cover;
	transform : scale(1.1);
	transition:transform 0.5s linear;
}
.thumb img:hover { 
	transform:scale(1.25);             /*  default */
	-webkit-transform:scale(1.25);     /*  크롬 */
	-moz-transform:scale(1.25);       /* FireFox */
	-o-transform:scale(1.25);           /* Opera */
	filter: brightness(60%);
}

/*main slider 부분 : main_bn_slider*/

@keyframes main_bn_ani {
	from {
		transform: translateY(30px); opacity: 0;
	}
	to {
		transform: translateY(0); opacity: 1;
	}
}

/*메인 배너 슬라이더*/
.slider {
	width: 100%;
}

.slick-slide img {
	width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}


.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}

.slick-current {
	opacity: 1;
}

.main_bn_slider {
	padding-top: 50%; 
	min-height: 100%;
	position: relative;
}

.main_bn_slider .slides {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


.slides>div {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}

.main_slider {
	width: 1033px;
	position: relative;
	display: block;
	float: left;
	height: 100%;
	min-height: 1px;
}

.main_slider:before {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: '';
	display: block;
	z-index: 1;
}

.main_slider img {
	display: block;
	max-width: 100%;
	height: auto;
}

.main_bn_txt {
	width: 100%;
	position: absolute;
	left: 300px;
	bottom: 185px;
	top: auto;
	color: white;
	line-height: 1;
	z-index: 1;
	text-align: left;
}

.main_bn_txt em {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	display: block;
	animation: main_bn_ani 0.5s ease-in-out;
}

.main_bn_txt em:after {
	width: 20px;
	height: 3px;
	margin: 11px 0 45px;
	background: white;
	content: '';
	display: block;
}

.main_bn_txt span {
	font-size: 32px;
	line-height: 120%;
	display: block;
	animation: main_bn_ani 0.7s ease-in-out;
}

.main_bn_txt strong {
	padding: 29px 0 51px;
	font-size: 65px;
	display: block;
	animation: main_bn_ani 0.9s ease-in-out;
}

.main_bn_txt a {
	font-size: 20px;
	padding: 0 60px 0 28px;
	color: white;
	font-weight: 800;
	line-height: 55px;
	display: inline-block;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #fff;
	cursor: pointer;
	transition: all 0.2s;
}

.main_arrow:before, .main_arrow:after {
	transition: all 0.2s;
	content: '';
	display: block;
	position: absolute;
	right: 23px;
}

.main_arrow:before {
	width: 28px;
	bottom: 23px;
	height: 1px;
	background: white;

}

.main_arrow:after {
	width: 10px;
	bottom: 27px;
	border-top: 1px solid white;
	transform: rotate(45deg);
}

.main_bn_txt a:hover {
	color: white;
	background-color: #83a80b;
	border-color: #83a80b;
}
.main_bn_txt a:hover:after, .main_bn_txt a:hover:before {
	right: 10px;
}


/* count up 부분 css */
@keyframes countup_img_ani {
  0% { transform: translateY(30px); opacity: 0;}
  50% {transform: translateY(-20px); opacity: 1;}
  100% {transform: translateY(0); opacity: 1;}
}

#main_countup {
	background: url('mainSlideImg/countup1.png') no-repeat center;
	background-size: cover;
	position: relative;
	text-align: center;
	padding-top: 50%;
}

#main_countup>div {
	padding: 0 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}

.count_up {
	max-width: 1400px;
	margin: 0 auto;
}

.count_up .main_txt {
	padding-top: 60px;
	text-align: center;
	letter-spacing: -4px;
	line-height: 1;
	text-align: center;
}

.count_up .main_txt strong {
	display: block;
	padding-bottom: 32px;
	color: #83a80b;
	font-size: 40px; 
	letter-spacing: -2.4px;
	font-weight: 600;
	animation: main_bn_ani 0.5s;
}

.count_up .main_txt p {
	padding: 0;
	margin: 0;
	color: #333;
	font-size: 30px;
	letter-spacing: -2.4px;
	animation: main_bn_ani 0.7s;
}

.num_count {
	position: relative;
	margin-top: 0;
}

.num_count ul {
	width: 100%;      
	text-align: center;
	padding-top: 50px;
	padding-left: 0;
	margin: 0;
	height: 131px;
}

.num_count > em {
	position: absolute;
	top: 5px;
	right: 34px;
	display: block;
	color: rgba(77, 77, 79, .4);
	font-size: 18px;
}

.num_count ul li {
	color: #111;
	float: left;
	width: 24%;

	display: inline-block;

	position: relative;
}

.num_count ul li:before {
	width: 1px;
	height: 80px;
	background-color: #aaaaaa;
	position: absolute;
	top: 50%;
	left: 0;
	content: '';
	display: block;
	transform: translateY(-50%);
}

.num_count ul li:first-child:before {
	background-color: transparent;
}

.num_count ul li strong {
	font-size: 40px;
	font-weight: 900;
	letter-spacing: -1px;
	height: auto;
}

.num_count ul li em {
	padding-left: 2px;
	color: #666;
	font-size: 16px;
}

.num_count ul li span {
	font-size: 18px;
	display: block;
}

.count_up_word {
	text-align: left;
	width: 80%;
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
}

.count_up:after {
	content: '';
	display: block;
	clear: both;
}

.count_up_word>* {
	width: 50%;
	float: left;
}

.count_up_txt strong {
	color: #111;
	line-height: 1;
	letter-spacing: -2px;
	display: block;
	font-size: 40px;
	padding-bottom: 15px; /*웹 사이즈마다 다르게 지정해뒀는데 이거 어떡하지*/
	text-align: left;
}

.count_up_txt p {
	color: #333;
	font-size: 22px;
	line-height: 1.5;
	letter-spacing: -1px;
	text-align: left;
	animation: main_bn_ani 0.8s ease-in-out;
}

.count_up_txt p br {
	display: none;
}

.count_up_btn {
	margin-top: 30px;
	font-size: 18px;
	padding: 0 30px;
	height: 50px;
	color: #83a80b;
	font-weight: 800;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #83a80b;
	cursor: pointer;
	transition: all 0.2s;
}

.count_up_btn:hover {
	color: white;
	background-color: #83a80b;
}


.count_up_word ul li {
	width: 49%;
	padding: 0 16px;
	color: #333;
	font-size: 24px;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.count_up_word ul li:before {
	background-size: 100% auto;
	width: 230px;
	height: 190px;
	margin: 0 auto 10px;
	content: ' ';
	position: static;
	display: block;
}

.guidestar:before {
	background: url('mainSlideImg/countup_img1.png') no-repeat center;
	animation: countup_img_ani 0.7s 0.7s both;
}

.familyfriendly:before {
	background: url('mainSlideImg/countup_img2.png') no-repeat center;
	animation: countup_img_ani 0.7s 0.8s both;
}
}


/* news 부분 css : 아름다운 가게 소식지*/

#news{
	font-family: 'NanumSquare', sans-serif;
	width: 100%;
	height: 1000px;
	margin-top: 0;
	margin-bottom: 50px;
	background: white;
}
#news .stories{
	margin-left: 50px;
}
.main_txt{
	margin-top: ;
	margin-left: 40px;
	padding: 70px 0px 38px 0px;
	margin-bottom: 10px;
	height: 200px;
}

.main_txt strong{
	display: inline-block;
	font-family: 'NanumSquare', sans-serif;
	margin-left: 50px;
	padding: 20px 20px 38px 0;
	/*padding-left: 90px;*/
	font-weight: 700;
	font-size: 45px;
	color: #83a80b;
}
.main_txt .sub{
	display: inline-block;
	font-family: 'NanumSquare', sans-serif;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -1.2px;

}

.main_content{
	margin-left: 30px;
	margin-bottom: 30px;
}
.divider_top div{
	display : inline-block;
	/* width: 100%;*/
	/*width: 250px;*/
	overflow:hidden;
}
.diver_top .right{
	margin-left: 30px;
}
.list_title{
	padding-left: 70px;
	font-weight: 600;
	color: #83a80b; 
}
.list_title:before{
	content: 'ㅡ';
	color:#83a80b ;
	width: 20px;
	margin-right: 10px;
}
.list_content .summary{
	font-size: 15px;
	margin-left: 10px;
	line-height: 25.2px;
	color: #4D4D4F;
}

.list_content .title{
	margin-left: 15px;
	font-size: 19px;
	line-height: 27px;
	font-family: 'NanumSquare', sans-serif;
	font-weight: 900;
}


.notice_list a{
	text-decoration: none;
	color: black;
}
.notice_list a:visited{
	text-decoration: none;
	color: black;
}



/*뉴스레터 신청*/
.newsletter .titles{
	margin-left: 20px;
	height: 60px;

}
.titles .title{
	display: inline-block;
	font-family: 'NanumSquare', sans-serif;
	font-weight: 900;
	font-size: 25px;
	color: white;
	padding: 20px 10px 20px 20px;
}
.titles .slogun, .divider{
	font-size: 23px;
	font-weight: 900;
	color: white;
	font-family: 'NanumSquare', sans-serif;
}

.description{
	font-family: 'NanumSquare', sans-serif;
	display: inline-block;
	color: white;
	margin-left: 40px;
	top:20px;
}
.newsletter_form{
	margin-left: 35px;
	margin-top: 0;
}

.newsletter_name{
	display:inline-block;
	width:138px;
	height:38px;
}
.newsletter_mail{
	display:inline-block;
	width:247px;
	height:38px;
}

/*개인정보 동의*/
.agreement {
	display: inline-block;
	padding-left: 0;
	text-decoration: none;
	color: white;
	font-size: 12px;
}
.agreement a{
	padding-left: 10px;
	text-decoration: none;
	color: white;
	font-size: 12px;
}
.agreement a:visted{
	text-decoration: none;
	color: white;
	font-size: 12px;
}


/*줄 자르는 부분*/
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/*더보기 버튼*/
.notice_item > a{
	color: white;
}
.myButton {
	box-shadow:inset 0px 0px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #83a80b 5%, #77a809 100%);
	background-color:#83a80b;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family: 'NanumSquare', sans-serif;
	font-size:13px;
	font-weight:900;
	margin-left: 15px;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.myButton:hover {
	background:linear-gradient(to bottom, #77a809 5%, #83a80b 100%);
	background-color:#77a809;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*구독하기 버튼 부분 */
.myButton_2 {
	box-shadow:inset 0px 0px 0px -24px #474047;
	background:linear-gradient(to bottom, #474047 5%, #474047 100%);
	background-color:#474047;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'NanumSquare', sans-serif;
	font-size:16px;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #474047;
	height: 46px;
}
.myButton_2:hover {
	background:linear-gradient(to bottom, #474047 5%, #474047 100%);
	background-color:#474047;
}
.myButton_2:active {
	position:relative;
	top:1px;
}

.newsletter_name{
	width: 113px;
	height: 38px;
}

.newsletter_mail{
	width: 113px;
	height: 38px;
}


/*--------------슬라이드 css-----------------*/
.item_text{
	padding-left: 10px;
	padding-top: 7px;
	padding-bottom: 10px;
	width: 280px; 
	height: 140px;
	background-color: #e9e9e9;

}

.title2{
	padding-left: 7px;
	padding-bottom: 5px;
	color: #3f3f3f;
	font-weight: 600;
}

.summary{
	padding-left: 9px;
	color: #6a6a6a;
	font-size: 12px;
	line-height: 22px;
}


/*여기에 슬라이드에 필요한거 넣음*/
.swiper-container {
	margin-top: 15px;
	height:620px;
	width: 1240px;
	margin-bottom: 30px;
	overflow: show;
	/*border-radius:7px;*/
	/*box-shadow:0 0 20px #ccc inset;*/
}
.swiper-slide{
	margin: 0;
	height:620px;
}

.swiper-slide img{
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
	width: 280px; 
	height: 280px;

}
.swiper-slide img {
	/*box-shadow:0 0 5px #555;*/
	/*max-width:80%; */ 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 
}



/*youtube 부분 css*/
#youtube{
	margin: 0; padding: 0;
	width:100%; height:700px;background:whitesmoke;
}

#youtube.beautifulTV{
	width: 100%;
	height: 650px;
}
#youtube .beautifulTV .banner{
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

#youtube .beautifulTV .banner2{
	top: 40% ;
	left: 34%;
	position: absolute;
}
#youtube .beautifulTV .banner2 h3{
	font-family: 'NanumSquare';
	font-size: 24px;
	letter-spacing: -1.2px;
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 100%;
}
.visual{
	position: relative;
	display: flex;
	visibility: show;
	width: 90%;
	left: 5%;
	margin-top: 25px;
}

.visual .items{
	position: relative;
	width: 370px;
	height: 250px;
	margin: 50px;

}
.visual .items img{
	width: 350px;
	height: 200px;
	transition:  all linear .4s;
	box-sizing: border-box;
	box-shadow: rgba(0,0,0,0.3) 5px 5px 6px 0px;
}


.visual .slick-center img{
	transform: scale(1.5);
	z-index: 30;
}
.visual .slick-side .slick-prev img, .slick-next img:hover{
	transform: scale(1.1);
}
.visual .slick-center img:hover{
	transform:  scale(1.6);
}



/* youtube pop-up */
.video-popup.reveal {
	display: flex;
	position: fixed;
	top: 20%;
	left:20%;
	right:20%;
	bottom: 20%;
	justify-content: center;
	align-items: center;
	z-index:9
}

.video-popup .video-wrapper {
	position: relative;
	width: 85%;
	padding-bottom: 45%;
	z-index: 10
}

.video-popup .video-wrapper iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.video-popup.reveal .video-popup-closer {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 9
} 
.video-popup.reveal .video-popup-closer i{
	color:#83a80b;
	font-size: 40px;
	font-style:bold;
	z-index: 9;
	left: 0;
}

/*slider button */
.visual button {
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translateY(-);
	width: 50px;
	height: 50px;
	background-color: white;
	border: none;
}
.visual button.slick-prev{
	left:50px; font-size: 0; 
}
.visual button.slick-prev:before{
	content: '\21BC'; 
	color: #6e7073;
	font-size: 30px;
	width: 14px;
	bottom: 15px;
}

.visual button.slick-next{
	right:60px; font-size: 0; 
}
.visual button.slick-next:before{
	content: '\21C0'; 
	color: #6e7073;
	font-size: 30px;
	width: 14px;
	bottom: 15px;
}

/* Youtube Button*/
.youtubebtn{
	margin-top: 60px;
}
.youtubebtn button{
	font-family: 'NanumSquare' sans-serif;
	font-style: bold;
	font-size: 18px;
	color:  #83a80b;
	border: none;
	background-color: white;
	width: 200px;
	height: 52px;
	text-align: center;
	border:2px solid #83a80b ;
	display: block;
	margin: 0 auto;

}


.visual button:hover{
	background-color:  #83a80b;
	color: white;
}

.youtubebtn button:hover{
	background-color:  #83a80b;
	color: white;
}



/* sidebar 사이드바 css*/
#sidebar {position:fixed;width:100px;height: 600px;right: 0px; top: 136px;text-align:center;z-index: 100;vertical-align: middle;bottom: 20px;}
#sidebar a { display: block;padding-top: 24px; height: 100px;text-decoration: none;font-size: 13.5px; font-family: 'NanumSquare', serif;
border-top: 1px solid  #717172;	font-weight : bold; }
#sidebar a img{
	margin-bottom: 10px;
}
#sidebar a:first-child {border: none;}
#sidebar a:hover{border-top-color: #83A80B;
	opacity: 100%;}


.store {background: #83A80B;color: white;line-height: 15px;box-shadow: 0px 0px 22px 3px rgba(163, 174, 184, 0.5);}

.donation {color: white;line-height: 15px;background:#232324;opacity: 0.9;}
.donation:hover{color: white; display: block; background: #83A80B; border-top-color: #83A80B;}

.sponsor {color: white;line-height: 15px;background:#232324;opacity: 0.9;}
.sponsor:hover{color: white; display: block; background: #83A80B; border-top-color: #83A80B;}

.opacity {color: white;line-height: 10px;background:#232324;opacity: 0.9;}
.opacity:hover{color: white; display: block; background: #83A80B; border-top-color: #83A80B;}

.activity {color: white;line-height: 10px;background:#232324;opacity: 0.9;}
.activity:hover{color: white; display: block; background: #83A80B; border-top-color: #83A80B;}

.share {color: white;line-height: 5px;background:#232324;opacity: 0.9;}
.share:hover{color: white; display: block; background: #83A80B; border-top-color: #83A80B;}




.btn_top{
	background-image:url('footer_img/11.png') ;
	height: 70px;
	width: 100px; 
	color: black;
	line-height: 50px;
	box-shadow: 0px 0px 22px 3px rgba(163, 174, 184, 0.5);}
.btn_top:hover{
	background-image: url('footer_img/10.png');
	height: 70px;
	width: 100px;
	color: white;}
.btn_top p{padding-top: 17px;}


/*footer white css*/
.site_map{margin:0; padding:0;height:100%; width:100%; height:554px;background:white;}
.site_map_list{display: flex; justify-content: center;flex-basis: auto;flex-shrink: 1; flex-wrap: nowrap; }
.site_map_list li a { border: none; color: black, font-family: 'NanumSquare', sans-serif;}
.site_map_list .list_top{
	position: relative;
	list-style: none;
	margin-left: 20px;
	line-height: 25.2px;
}

.site_map_list .list_top strong{
	float: left;		
	width: 150px;
	border-top: 2px solid whitesmoke;
	border-bottom: 2px solid whitesmoke;
	font-size: 20px; text-align: center; margin-top: 40px;  
	display: block; padding-top: 5px; padding-bottom: 5px;
}
.site_map_list .list_top .site_map_list01{
	position: absolute;
	margin-top: 100px;
	font-size: 14px;
	padding-left: 0;
}
.site_map_list #faq{
	margin-top: 250px;
	border-top: 20px;
	font-size: 14px;
	padding-left: 0;
}
.site_map_list .list_top .site_map_list02{
	padding-left: 15px;
}
.site_map_list .site_map_list02 a{
	color: #959696;
	font-family: 'NanumSquare', sans-serif; 
}
.site_map_list .site_map_list02 li{	list-style-image: url("footer_img/mark.png");}

.site_map_list ul a:hover {color:#83A80B ;}
.site_map_list a {text-decoration: none; color: black};
.site_map_list a: visitied; {text-decoration: none; color: black;}


.btn_site_map_down {display: inline-block; width: 53px;margin-left: 47%;margin-right: 50%;height: 47px;background-image: url("footer_img/a_down.png");}
.btn_site_map_up {display: inline-block; width: 54px;margin-left: 47%;margin-right: 50%;height: 45px;background-image: url("footer_img/a_up.png");}

/*footer black css*/
.footer {background: #4D4D4F;height: 100%;width: 100%;height: 450px; color: white;}
.footer a {color: white;text-decoration: none;}
.footer li {list-style: none;}


#box li{display: inline-block; height: 17px;text-align:center;}
#notice{margin-left: 160px;}
#notice li{margin-top: 50px;margin-bottom: 30px;border-left: 1px solid #717172;
	font-size: 14px;float:left;padding-left: 13px;padding-right: 13px;} 
#notice li:first-child{border-left: none;}

#sns {margin-right: 150px;}
#sns li {margin-right: 10px;margin-bottom: 30px;margin-top: 40px;width: 45px; height: 45px;
	border-radius: 50%;background: none;font-size: 13px;float:right;overflow: hidden;}

	#call {font-size: 16px;margin-right: 160px;float:right;text-align: right;}
	#call span{font-size: 50px;color:#83A80B;font-weight: 1000;}
	#call a{text-align: center;display:block;border: 1px solid white;
		width: 125px;height: 45px;font-size: 14px;float: right;line-height: 40px;}
	#call a:hover{color:white; background-color:#83A80B; border-color:#83A80B; }

	.footer_hr{margin-bottom: 30px;}

	#info strong{padding-left: 160px;}
	#info ul{margin-left: 160px;margin-top: 15px;margin-bottom: 10px;font-family:'본고딕 시리즈';}
	#info li{display: inline-block;font-size: 14px;margin-right: 20px;padding-top: 0px;}
	#info p{margin-left: 160px; margin-top: 15px;color: #A5A5A6;font-size: 14px;}
	#info span{color: #687A2D;} 

	/* main banner 메인 배너 css */
	#menu .topnav  a{ text-decoration: none; color: #544e43 }

	#menu a:link{ text-decoration: none; color:white }
	#menu a:visited { text-decoration: none; color:white }
	#menu, div, ul, li, /*table, tr, td, th*/{margin:0px; left: 0; right: 0; }


	#menu {
		font-family: 'NanumSquare', serif;
		font-style: bold;
		background: white;
		height: 88px;
		trasition:  all 0s ease 0s;
		outline: rgb(255,0,0) dashed 1px;
		box-sizing: border-box;
		box-shadow: rgba(0,0,0,0.55) 5px 5px 25px 12px;

	}

	/*id 구분자 css */
	#wrap {
		width:100%;
		position: relative;
	}

	#header {
		border-top: 5px solid #83a80b;
		position: fixed;
		width:100%;
		background:white;
		height: 111px;
	}
	#mainbanner{
		overflow: hidden;
		margin-top: 15px; margin-left: 10px;
		width: 300px;
		height: 60px;
		display: flex;
		justify-content:center;
		align-items: center;
		font-family:  'Noto Serif KR', serif;
		color: #544e43;
	}


	#mainbanner img{
		padding-top: 0;
		margin-left: 0;
		margin-top: 0;
		width: 210px;
		height: 50px;
		display: inline-block;
		float: left;

	}

	#sub1{
		width: 140px;
		line-height: 5px;
		padding-left: 20px;
		padding-right: 10px;
		padding-bottom: 20px;
	}
	#sub2{
		width: 120px;
		line-height: 10px;
		padding-left: 20px;
		padding-right: 10px;
		padding-bottom: 20px;
	}
	#sub3{
		width: 110px;
		line-height: 10px;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 12px;
	}


	#뷰티풀마켓{
		font-size: 16px;
		color:#83a80b;
	}

	#lang {
		text-align:center;
		width:80px;
		height:30px;
		cursor:pointer;
		padding-top: 30px;
		padding-bottom: 0;
		margin-bottom: 30px;
		margin-right: 10px;
		font-weight:bold;
		color: #666;
		font-size: 16px;
		color:#52575c;
	}
	#lang_li{
		font-family:'NanumSquare', sans-serif;
		font-style: bold;
		font-size: 16px;
		background: #83a80b;
		color: white;
		text-align: left;
		padding-top: 10px;
		padding-left: 23px;
		padding-bottom: 10px;
		width:80px;
		height:40px;
		display: none;
	}


	#search{
		color: #c5c7c6;
		width: 40px;
		font-size:20px;
	}

	/* nav 영역 */
	.nav {
		margin-left: 15%;
		list-style: none;
		width:100%;
		background: #fff;
		box-shadow: 5px 5px 25px rgb(0 0 0 / 15%);
	}

	.navi_set{
		float: left;
		padding:5px;
		position: relative;
	}

	/* topnav : 1st depth - 메뉴 */
	.topnav{
		text-align:center;
		width:100px;
		height:88px;
		cursor:pointer;
		font-weight:bold;
		color: #666;
		padding-top:  30px;
		font-size: 17px;
		color:#52575c;
	}


	.topnav:hover{
		color:#83a80b;
	}

	/*subnav : 2depth, 3depth-메뉴 */
	.subnav{
		position: absolute;
		padding-top: 16px;
		top: 87px;
		background: #83a80b;
		display: none;
		color : white;
		font-style: bold;
		font-family:'NanumSquare', sans-serif;
	}
	.subnav .sub_menu2{
		margin-top: 10px;
	}
	.subnav li{
		font-family:'NanumSquare', sans-serif;
		font-style: bold;
		font-weight: 700;
		font-size: 13px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: left;
		border-bottom:6px ;
		border-top:1px ;
		cursor:pointer;

	}

	.subnav li li{
		position: relative;
		font-family:'NanumSquare', sans-serif;
		padding-left: 0;
		margin-left: 0;
		font-size: 11px;
		text-align: left;
		list-style: disc;
		font-weight: 700;
	}

	.subnav li:hover {
		text-decoration: underline;
	}