@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');

ul, ol, li{list-style:none;}
a {text-decoration: none;}

html {overflow-y: scroll;}

html, body, div, span, p, a, em, img, ol, ul, li, strong, section {
	box-sizing: border-box;
	border: 0;
	font-family: 'NanumSquare', sans-serif;
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

section {
	display: block;
}

body {
	line-height: 1.8;
	word-wrap: break-word;
	word-break: keep-all;
	overflow: hidden;
}

div {
	display: block;
}

em {
	font-style: normal;
}

/*애니메이션*/
@keyframes intro_txt {
	from {
        transform: translateY(40px); opacity: 0;
      }
      to {
        transform: translateY(0); opacity: 1;
      }
}

/* main banner 메인 배너 css */
#menu .topnav  a{ text-decoration: none; color: #544e43 }

#menu a:link{ text-decoration: none; color:white }
#menu a:visited { text-decoration: none; color:white }
#menu, div, ul, li, /*table, tr, td, th*/{margin:0px; left: 0; right: 0;}


#menu {
	font-family: 'NanumSquare', serif;
	font-style: bold;
	background: white;
	height: 88px;
	trasition:  all 0s ease 0s;
	box-sizing: border-box;
	box-shadow: rgba(0,0,0,0.55) 5px 5px 25px 12px;

}

/*id 구분자 css */
#wrap {
	width:100%;
	position: relative;
}

#header {
	border-top: 5px solid #83a80b;
	position: fixed;
	width:100%;
	background:white;
	height: 111px;
	z-index: 10;
}
#mainbanner{
	overflow: hidden;
	margin-top: 15px; margin-left: 10px;
	width: 300px;
	height: 60px;
	display: flex;
	justify-content:center;
	align-items: center;
	font-family:  'Noto Serif KR', serif;
	color: #544e43;
}


#mainbanner img{
	padding-top: 0;
	margin-left: 0;
	margin-top: 0;
	width: 210px;
	height: 50px;
	display: inline-block;
	float: left;

}

#sub1{
	width: 140px;
	line-height: 5px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
}
#sub2{
	width: 120px;
	line-height: 10px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
}
#sub3{
	width: 110px;
	line-height: 10px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 12px;
}


#뷰티풀마켓{
	font-size: 16px;
	color:#83a80b;
}

#lang {
	text-align:center;
	width:80px;
	height:30px;
	cursor:pointer;
	padding-top: 30px;
	padding-bottom: 0;
	margin-bottom: 30px;
	margin-right: 10px;
	font-weight:bold;
	color: #666;
	font-size: 16px;
	color:#52575c;
}
#lang_li{
	font-family:'NanumSquare', sans-serif;
	font-style: bold;
	font-size: 16px;
	background: #83a80b;
	color: white;
	text-align: left;
	padding-top: 10px;
	padding-left: 23px;
	padding-bottom: 10px;
	width:80px;
	height:40px;
	display: none;
}


#search{
	color: #c5c7c6;
	width: 40px;
	font-size:20px;
}

/* nav 영역 */
.nav {
	margin-left: 15%;
	list-style: none;
	width:100%;
	background: #fff;
	box-shadow: 5px 5px 25px rgb(0 0 0 / 15%);
}

.navi_set{
	float: left;
	padding:5px;
	position: relative;
}

/* topnav : 1st depth - 메뉴 */
.topnav{
	text-align:center;
	width:100px;
	height:88px;
	cursor:pointer;
	font-weight:bold;
	color: #666;
	padding-top:  30px;
	font-size: 17px;
	color:#52575c;
}


.topnav:hover{
	color:#83a80b;
}

/*subnav : 2depth, 3depth-메뉴 */
.subnav{
	position: absolute;
	padding-top: 16px;
	top: 87px;
	background: #83a80b;
	display: none;
	color : white;
	font-style: bold;
	font-family:'NanumSquare', sans-serif;
}
.subnav .sub_menu2{
	margin-top: 10px;
}
.subnav li{
	font-family:'NanumSquare', sans-serif;
	font-style: bold;
	font-weight: 700;
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	border-bottom:6px ;
	border-top:1px ;
	cursor:pointer;

}

.subnav li li{
	position: relative;
	font-family:'NanumSquare', sans-serif;
	padding-left: 0;
	margin-left: 0;
	font-size: 11px;
	text-align: left;
	list-style: disc;
	font-weight: 700;
}

.subnav li:hover {
	text-decoration: underline;
}

.back{background: url("https://www.beautifulstore.org/wp-content/themes/bs/images/meta/bg_donation.png")no-repeat left;
	background-size: cover;
	position: relative;
	margin: 0;
	padding: 0;
	height:100%; 
	max-width:100%;
	height: 355px;
	z-index: -1;
	}

.do_txt{ transform:translateY(-5%);}

.top_title{font-family:'NanumSquare', sans-serif;
	text-align: center;
	color: white;
	font-size: 50px;
	padding-top: 160px;
	line-height: 0px;
	font-weight: 900;
 animation: intro_txt 0.5s ease-in-out 0.5s both;}

.se_title{font-family:'NanumSquare', sans-serif;
	text-align: center;
	color: white;
	font-size: 20px;
	margin-top: 42px;
animation: intro_txt 0.5s ease-in-out 0.7s both;}


/* 메뉴바*/
.bar{margin-top: -50px;
	padding: 0;
	display: flex;
	background-color: rgba(0, 0, 0, .17);
	width:100%;
	height: 50px;
	border: 1px solid #A19698 ;
	list-style: none;
	z-index: 100;
}
.home{
	display:inline-block;
	height: 50px;
	margin: -6px 0 0px 135px;
	border: 1px solid #A19698;
	padding: 13px 15px 13px 15px;

}
#do {
	display: inline-block;
	text-align:left;
	width:190px;
	height:50px;
	cursor:pointer;
	font-weight:bold;
	color: white;
	font-size: 15px;
	margin: -6px 0 0px -10px;
	padding:12px 0px 0px 0px ;
	font-size: 13.5px;
	border: 1px solid #A19698;
}
#do:after {
	content: '';
	width: 0;
	height: 0;
	top: 55%;
	transform: rotate(-45deg);
	border-bottom: 5px solid #83a80b;
	border-right: 5px solid transparent;
	vertical-align: middle;
	position: absolute;
	right: 15px;
	display: inline-block;
	margin-top: -7px;
}


#do_li{
	font-family:'NanumSquare', sans-serif;
	font-style: bold;
	font-size: 16px;
	background: white;
	color: black;
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	margin: 0 auto;
	width:189px;
	height: 285px;
	display: none;
	border: 1px solid #E8E5E2;
	margin-left: -9px;
	list-style: none;
	line-height: 23px;
}
#do_li a{
	text-decoration: none;
	color: black;

}
#do_li li{
	padding-bottom: 18px;
}

#do_li :hover{
	color:  #83A80B;
}

/*물품기부 신청*/

.sub_title{font-family:'NanumSquare', sans-serif;
	width:100%;
	margin-top: -40px;
	padding: 0;
	color: black;
	text-align: center;
	font-size: 34px;
	height: 145px;
	line-height: 150px;}

.donation-page{font-family:'NanumSquare', sans-serif;
overflow: hidden;}

.donation_description{
	display: block; 
	background:#FDF9F0 ;
	border-top: 4px solid #83A80B;
	margin: 0px 160px 0px 160px;
	padding-top: 25px;
	height: 90px;
	font-size: 20px;
	text-align: center;
	font-weight: 510;
	color: #555555;}

/*물품 기부 전 꼭 확인하세요*/
.donation_check{display: block;margin-right: 160px;margin-left: 160px;
	margin-top: 90px;height: 580px;}


.left{display: inline-block;
	width: 180px;
	height: 100px;}
.check_title{display: inline-block;
	font-size: 28px;
	margin-top: 0px;
	font-weight: 1000;
	line-height: 50px;}

/*체크리스트*/

.right{display: inline-block;
	margin-left: 290px;
	margin-top: -110px;
}
.list{display: block;}
.item{
	width: 910px;
	height: 110px;
	margin-bottom: 30px;}
.title{font-size: 22px;
	margin:-1px 20px 13px 53px;
	display: inline-block;
	font-weight: 900;
	width: 860px;
}
.content1{font-size: 18px;
	line-height: 35px;
	width: 440px;
	height: 50px;}
.button{ 
	float: right;
	text-decoration: none;
	 color: white;
	 background: #83A80B;
	 border-radius: 5px;
	 font-size: 14px; 
	 width: 180px;
	 height: 27px; 
	 text-align: center;
	 margin: 0px 280px 0px 0px;
	 padding-bottom: 30px;
	 line-height: 30px;
	 position: relative;
	}
.content{font-size: 18px;
	padding-bottom: 30px;
	line-height: 35px;}
.list li{background: url("https://www.beautifulstore.org/wp-content/themes/bs/images/static/donation_check_icon.png") left top no-repeat;
margin-top: 7px; 
padding: 0px 0px 15px 0px;
list-style: none;}
.hr{color: #544e43;}





/*신청 목록*/
.donation_application{margin: 0;padding: 0;height:100%; height: 625px;
	background:#FDF9F0;padding-left: 130px;}
.donation_application li{list-style: none;}
.item1{display: inline-block;float: left;height: 450px;width: 380px;
	background: white;margin: 85px 0px 100px 30px;}
.text{text-align: center;padding-top: 25px;font-size: 18.5px;line-height: 33px;}
.nubutton{display: inline-block; color: white; text-decoration: none;background: #83A80B;
border-radius: 30px;font-size: 17.5px; width: 225px; height: 40px; 
text-align: center;padding-top: 5px;margin-top: 26px;}

.image{background-image: url("https://www.beautifulstore.org/wp-content/themes/bs/images/static/donation_application_image1.jpg");
 display: block;height: 258px;width: 380px;}
.image2{background-image: url("https://www.beautifulstore.org/wp-content/themes/bs/images/static/donation_application_image2.jpg"); 
display: block;height: 258px;width: 380px;}
.image3{background-image: url("https://www.beautifulstore.org/wp-content/themes/bs/images/static/donation_application_image3.jpg"); 
display: block;height: 258px;width: 380px;}


/*뉴스레터 신청*/
.newss{margin: 0;
	padding: 0;
	height:100%; 
	width:100%;
	height: 265px;
	background:#83A80B;
	font-family:'NanumSquare', sans-serif;
	color: white;
	display: block;}
.newss_title{
	font-size: 25px;
	font-weight: 900;
	margin: 0px 0 10px 160px;
	display: inline-block;}
.image4{background-image: url("https://www.beautifulstore.org/wp-content/themes/bs/images/static/newsletter_logo.png");
 	display: inline-block;
 	height: 34px;
 	width: 34px;
 	margin: 30px 0px 0 90px;}
.newss_text{
	font-size: 15px;
	font-weight: 0;
	padding: 0px 0px 0px 160px;}

.name{
	font-size: 15px;
	font-weight: 0;
	margin: 15px 5px 10px 160px;
	color: #CCCCCC;
	width: 190px;
	height:47px;
	padding-left: 17px;
	border: none;
	border-radius: 0;}

.email{
	font-size: 15px;
	font-weight: 0;
	margin: 15px 20px 10px px;
	font-weight: -100;
	width: 350px;
	height:47px;
	padding-left: 17px;
	border: none;
	border-radius: 0;}

.button1{
	font-size: 17px;
	margin-left: 5px;
	color: white;
	width: 160px;
	height:47px;
	border: none;
	border-radius: 0;
	background: #4D4D4F;
	cursor: pointer;}

.agree{
	margin: 10px 0px 0px 155px;
	cursor: hand;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
	}

.agree a{
	text-decoration: none;
	color: white;
}
#sidebar {position:fixed;width:100px;height: 600px;right: 0px; top: 136px;text-align:center;z-index: 100;vertical-align: middle;bottom: 20px;}
#sidebar a { display: block;padding-top: 24px; height: 100px;text-decoration: none;font-size: 13.5px; font-family: 'NanumSquare', serif; 
border-top: 1px solid  #717172;	font-weight : bold; }
#sidebar a img{margin-bottom: 10px;}
#sidebar a:first-child {border: none;}
#sidebar a:hover{border-top-color: #83A80B; opacity: 100%;}


.store {background: #83A80B;color: white;line-height: 15px;box-shadow: 0px 0px 22px 3px rgba(163, 174, 184, 0.5);}

.donation {color: white;line-height: 15px;background:#232324;opacity: 0.9;}
.donation:hover{color: white; display: block; background: #83A80B; border-top-color: #83A80B;}

.sponsor {color: white;line-height: 15px;background:#232324;opacity: 0.9;}
.sponsor:hover{color: white; display: block; background: #83A80B; border-top-color: #83A80B;}

.opacity {color: white;line-height: 10px;background:#232324;opacity: 0.9;}
.opacity:hover{color: white; display: block; background: #83A80B; border-top-color: #83A80B;}

.activity {color: white;line-height: 10px;background:#232324;opacity: 0.9;}
.activity:hover{color: white; display: block; background: #83A80B; border-top-color: #83A80B;}

.share {color: white;line-height: 5px;background:#232324;opacity: 0.9;}
.share:hover{color: white; display: block; background: #83A80B; border-top-color: #83A80B;}

.btn_top{background-image:url('footer_img/11.png'); color: black; line-height: 80px;box-shadow: 0px 0px 22px 3px rgba(163, 174, 184, 0.5);}
.btn_top:hover{background-image: url('footer_img/10.png');height: 70px;width: 100px;color: white;}





/*footer white css*/
.site_map{margin:0; padding:0;height:100%; width:100%; height:554px;background:white;}
.site_map_list{display: flex; justify-content: center;flex-basis: auto;flex-shrink: 1; flex-wrap: nowrap; }
.site_map_list li a { border: none; color: black, font-family: 'NanumSquare', sans-serif;}
.site_map_list .list_top{
	position: relative;
	list-style: none;
	margin-left: 20px;
	line-height: 25.2px;
}

.site_map_list .list_top strong{
	float: left;		
	width: 150px;
	border-top: 2px solid whitesmoke;
	border-bottom: 2px solid whitesmoke;
	font-size: 20px; text-align: center; margin-top: 40px;  
	display: block; padding-top: 5px; padding-bottom: 5px;
}
.site_map_list .list_top .site_map_list01{
	position: absolute;
	margin-top: 100px;
	font-size: 14px;
	padding-left: 0;
}
.site_map_list #faq{
	margin-top: 250px;
	border-top: 20px;
	font-size: 14px;
	padding-left: 0;
}
.site_map_list .list_top .site_map_list02{
	padding-left: 15px;
}
.site_map_list .site_map_list02 a{
	color: #959696;
	font-family: 'NanumSquare', sans-serif; 
}
.site_map_list .site_map_list02 li{	list-style-image: url("footer_img/mark.png");}

.site_map_list ul a:hover {color:#83A80B ;}
.site_map_list a {text-decoration: none; color: black};
.site_map_list a: visitied; {text-decoration: none; color: black;}


.btn_site_map_down {display: inline-block; width: 53px;margin-left: 47%;margin-right: 50%;height: 47px;background-image: url("footer_img/a_down.png");}
.btn_site_map_up {display: inline-block; width: 54px;margin-left: 47%;margin-right: 50%;height: 45px;background-image: url("footer_img/a_up.png");}

	/*footer black css*/
	.footer {background: #4D4D4F;height: 100%;width: 100%;height: 450px; color: white;}
	.footer a {color: white;text-decoration: none;}
	.footer li {list-style: none;}


	#box li{display: inline-block; height: 17px;text-align:center;}
	#notice{margin-left: 160px;}
	#notice li{margin-top: 50px;margin-bottom: 30px;border-left: 1px solid #717172;
		font-size: 14px;float:left;padding-left: 13px;padding-right: 13px;} 
	#notice li:first-child{border-left: none;}

	#sns {margin-right: 150px;}
	#sns li {margin-right: 10px;margin-bottom: 30px;margin-top: 40px;width: 45px; height: 45px;
		border-radius: 50%;background: none;font-size: 13px;float:right;overflow: hidden;}

	#call {font-size: 16px;margin-right: 160px;float:right;text-align: right;}
	#call span{font-size: 50px;color:#83A80B;font-weight: 1000;}
	#call a{text-align: center;display:block;border-width: 1px;
		border-color: white;border-style: solid;width: 125px;height: 45px;font-size: 14px;
		float: right;line-height: 40px;}
	#call a:hover {background-color: #83a80b; border-color: #83a80b;}

	.footer_hr{margin-bottom: 30px;}


	#info strong{padding-left: 160px;}
	#info ul{margin-left: 160px;margin-top: 15px;margin-bottom: 10px;font-family:'본고딕 시리즈';}
	#info li{display: inline-block;font-size: 14px;margin-right: 20px;padding-top: 0px;}
	#info p{margin-left: 160px; margin-top: 15px;color: #A5A5A6;font-size: 14px;}
	#info span{color: #687A2D;} 
	#call a:hover{
		background-color:#83A80B; border-color: #83A80B;
	}
	

